
h1{
    background-color: aliceblue;
    color: rgb(5, 28, 71);
    text-align: center;

}
button{
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
}
input{
    text-align: center;
}
button:hover{
    background-color: rgb(11, 0, 71);
}
body{
    text-align: center;
}